@model ERecruitment.Web.ViewModels.AdminApplicantProfileViewModel
@{
    ViewData["Title"] = $"Applicant Profile - {Model.FullName}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/view-profile.css" />
}

<div class="container-fluid mt-4 mb-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile-sidebar">
                <div class="profile-sidebar-header">
                    <h4 class="mb-0">@Model.FullName</h4>
                    <p class="text-muted mb-0">@Model.Email</p>
                </div>
                <ul class="nav nav-pills flex-column profile-nav">
                    <li class="nav-item">
                        <a class="nav-link active" id="personal-tab" data-bs-toggle="tab" href="#personal">
                            <i class="fas fa-user me-2"></i>Personal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="qualifications-tab" data-bs-toggle="tab" href="#qualifications">
                            <i class="fas fa-graduation-cap me-2"></i>Qualifications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-bs-toggle="tab" href="#experience">
                            <i class="fas fa-briefcase me-2"></i>Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="declarations-tab" data-bs-toggle="tab" href="#declarations">
                            <i class="fas fa-clipboard-check me-2"></i>Declarations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents">
                            <i class="fas fa-file-alt me-2"></i>Documents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="screening-tab" data-bs-toggle="tab" href="#screening">
                            <i class="fas fa-list-check me-2"></i>Screening
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="audit-tab" data-bs-toggle="tab" href="#audit">
                            <i class="fas fa-history me-2"></i>Audit Trail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="profile-content">
                <div class="tab-content" id="profileTabsContent">
                    <div class="tab-pane fade show active" id="personal" role="tabpanel">
                        @await Html.PartialAsync("_PersonalDetails", Model)
                    </div>
                    <div class="tab-pane fade" id="qualifications" role="tabpanel">
                        @await Html.PartialAsync("_Qualifications", Model)
                    </div>
                    <div class="tab-pane fade" id="experience" role="tabpanel">
                        @await Html.PartialAsync("_Experience", Model)
                    </div>
                    <div class="tab-pane fade" id="declarations" role="tabpanel">
                        @await Html.PartialAsync("_Declarations", Model)
                    </div>
                    <div class="tab-pane fade" id="documents" role="tabpanel">
                        @await Html.PartialAsync("_Documents", Model)
                    </div>
                    <div class="tab-pane fade" id="screening" role="tabpanel">
                        @await Html.PartialAsync("_Screening", Model)
                    </div>
                    <div class="tab-pane fade" id="audit" role="tabpanel">
                        @await Html.PartialAsync("_AuditTrail", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
